.ant-layout {
  background-color: transparent;
}

.ant-layout-sider {
  background-color: transparent;
  margin: 20px 15px;
}

.ant-layout-content {
  background-color: transparent;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(253 253 253 / 62%);
  padding: 5px 50px;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 -1px rgb(0 0 0 / 20%), 0 4px 5px 8px rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.ant-layout-footer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  background-color: white;
  box-shadow: 0 0 0 -1px rgb(0 0 0 / 20%), 0 4px 5px 8px rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
