@import "../../../../app/styles/variables/variables";

.card {
  margin: 0 auto;
  padding: 0 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1rem;
  margin-bottom: 20px;
}

.description {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  margin: 10px auto;
  width: 85px;
  height: 85px;
}

.error {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  color: $red;
}

.hint {
  display: flex;
  justify-content: center;
}

.form {
  .actions {
    display: flex;
    justify-content: center;
    color: red;
  }
}
