$primary-color: #4392ce;
$secondary-color: #e6eff6;
$active-color: #1890ff;
$green: #52c41a;
$light-blue: #8191a7;
$blue: #4392ce;
$dark-blue: #025ea1;
$yellow: #f0a600;
$orange: #ff4a05;
$dark-gray: #5f6062;
$gray: #7f7f7f;
$light-gray: #e7eaed;
$white: #fff;
$black: #333;
$red: #ff1837;
$purple: #ac97cd;
$violet: #610bef;
$field-border: #d7d7d8;
$block-border: #e1e5e9;
$past-time-gray: #c8cacc;
