@import "../constants/colors";

:root {
    --purple: #{$purple};
    --purple-10: #{scale-color($purple, $lightness: 10%)};
    --purple-20: #{scale-color($purple, $lightness: 20%)};
    --purple-30: #{scale-color($purple, $lightness: 30%)};
    --purple-40: #{scale-color($purple, $lightness: 40%)};
    --purple-50: #{scale-color($purple, $lightness: 50%)};
    --purple-60: #{scale-color($purple, $lightness: 60%)};
    --purple-70: #{scale-color($purple, $lightness: 70%)};
    --purple-80: #{scale-color($purple, $lightness: 80%)};
    --purple-90: #{scale-color($purple, $lightness: 90%)};
    --yellow: #{$yellow};
    --yellow-10: #{scale-color($yellow, $lightness: 10%)};
    --yellow-20: #{scale-color($yellow, $lightness: 20%)};
    --yellow-30: #{scale-color($yellow, $lightness: 30%)};
    --yellow-40: #{scale-color($yellow, $lightness: 40%)};
    --yellow-50: #{scale-color($yellow, $lightness: 50%)};
    --yellow-60: #{scale-color($yellow, $lightness: 60%)};
    --yellow-70: #{scale-color($yellow, $lightness: 70%)};
    --yellow-80: #{scale-color($yellow, $lightness: 80%)};
    --yellow-90: #{scale-color($yellow, $lightness: 90%)};
    --orange: #{$orange};
    --orange-10: #{scale-color($orange, $lightness: 10%)};
    --orange-20: #{scale-color($orange, $lightness: 20%)};
    --orange-30: #{scale-color($orange, $lightness: 30%)};
    --orange-40: #{scale-color($orange, $lightness: 40%)};
    --orange-50: #{scale-color($orange, $lightness: 50%)};
    --orange-60: #{scale-color($orange, $lightness: 60%)};
    --orange-70: #{scale-color($orange, $lightness: 70%)};
    --orange-80: #{scale-color($orange, $lightness: 80%)};
    --orange-90: #{scale-color($orange, $lightness: 90%)};
    --red: #{$red};
    --red-10: #{scale-color($red, $lightness: 10%)};
    --red-20: #{scale-color($red, $lightness: 20%)};
    --red-30: #{scale-color($red, $lightness: 30%)};
    --red-40: #{scale-color($red, $lightness: 40%)};
    --red-50: #{scale-color($red, $lightness: 50%)};
    --red-60: #{scale-color($red, $lightness: 60%)};
    --red-70: #{scale-color($red, $lightness: 70%)};
    --red-80: #{scale-color($red, $lightness: 80%)};
    --red-90: #{scale-color($red, $lightness: 90%)};
    --light-blue: #{$light-blue};
    --blue: #{$blue};
    --blue-10: #{scale-color($blue, $lightness: 10%)};
    --blue-20: #6cace4;
    --blue-30: #{scale-color($blue, $lightness: 30%)};
    --blue-40: #{scale-color($blue, $lightness: 40%)};
    --blue-50: #{scale-color($blue, $lightness: 50%)};
    --blue-60: #{scale-color($blue, $lightness: 60%)};
    --blue-70: #cddeeb;
    --blue-80: #{scale-color($blue, $lightness: 80%)};
    --blue-90: #e6eff6;
    --blue-95: #f2f7fa;
    --dark-blue: #{$dark-blue};
    --green: #{$green};
    --green-10: #{scale-color($green, $lightness: 10%)};
    --green-20: #{scale-color($green, $lightness: 20%)};
    --green-30: #{scale-color($green, $lightness: 30%)};
    --green-40: #{scale-color($green, $lightness: 40%)};
    --green-50: #{scale-color($green, $lightness: 50%)};
    --green-60: #{scale-color($green, $lightness: 60%)};
    --green-70: #{scale-color($green, $lightness: 70%)};
    --green-80: #{scale-color($green, $lightness: 80%)};
    --green-90: #{scale-color($green, $lightness: 90%)};
    --dark-gray: #{$dark-gray};
    --dark-gray-10: #{scale-color($dark-gray, $lightness: 10%)};
    --dark-gray-20: #7f7f7f;
    --dark-gray-30: #{scale-color($dark-gray, $lightness: 30%)};
    --dark-gray-40: #959595;
    --dark-gray-50: #{scale-color($dark-gray, $lightness: 50%)};
    --dark-gray-60: #{scale-color($dark-gray, $lightness: 60%)};
    --dark-gray-70: #{scale-color($dark-gray, $lightness: 70%)};
    --dark-gray-80: #{scale-color($dark-gray, $lightness: 80%)};
    --dark-gray-90: #{scale-color($dark-gray, $lightness: 90%)};
    --gray: #{$gray};
    --gray-10: #{scale-color($gray, $lightness: 10%)};
    --gray-20: #{scale-color($gray, $lightness: 20%)};
    --gray-30: #{scale-color($gray, $lightness: 30%)};
    --gray-40: #{scale-color($gray, $lightness: 40%)};
    --gray-50: #{scale-color($gray, $lightness: 50%)};
    --gray-60: #{scale-color($gray, $lightness: 60%)};
    --gray-70: #d7d7d8;
    --gray-75: #dbdbdb;
    --gray-80: #e1e5e9;
    --gray-90: #{scale-color($gray, $lightness: 90%)};
    --light-gray: #{$light-gray};
    --light-gray-10: #{scale-color($light-gray, $lightness: 10%)};
    --light-gray-20: #{scale-color($light-gray, $lightness: 20%)};
    --light-gray-30: #{scale-color($light-gray, $lightness: 30%)};
    --light-gray-40: #{scale-color($light-gray, $lightness: 40%)};
    --light-gray-50: #{scale-color($light-gray, $lightness: 50%)};
    --light-gray-60: #{scale-color($light-gray, $lightness: 60%)};
    --light-gray-70: #{scale-color($light-gray, $lightness: 70%)};
    --light-gray-80: #{scale-color($light-gray, $lightness: 80%)};
    --light-gray-90: #{scale-color($light-gray, $lightness: 90%)};
    --black: #{$black};
    --black-10: #{scale-color($black, $lightness: 10%)};
    --black-20: #{scale-color($black, $lightness: 20%)};
    --black-30: #{scale-color($black, $lightness: 30%)};
    --black-40: #{scale-color($black, $lightness: 40%)};
    --black-50: #{scale-color($black, $lightness: 50%)};
    --black-60: #{scale-color($black, $lightness: 60%)};
    --black-70: #{scale-color($black, $lightness: 70%)};
    --black-80: #{scale-color($black, $lightness: 80%)};
    --black-90: #{scale-color($black, $lightness: 90%)};
    --violet: #{$violet};
    --white: #fff;
    --bg-light: var(--white);
    --bg-dark: #f9f9f9;
    --border-color: #e1e5e9;
    --select-background-color: #e6eff6;
    --color-primary: var(--black);
    --color-secondary: var(--gray);
    --color-active: var(--blue);
    --bg-disabled-color: #f5f5f5;
    --overlay: #8191a780;
}
