$green: #52c41a;
$light-blue: #8191a7;
$blue: #4392ce;
$dark-blue: #025ea1;
$yellow: #f0a600;
$orange: #ff4a05;
$dark-gray: #5f6062;
$gray: #7f7f7f;
$light-gray: #e7eaed;
$white: #fff;
$black: #333;
$red: #ff4d4f;
$purple: #ac97cd;
